[Unit]
Description=Report 1-wire data and hm to emonhub
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/emonreporter/emonreporter/rept_1wire_hmv2.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
